src/main/resources/META-INF/swift/common/schemas/swift-common-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:swift-common="https://gbusiness.ph/schemas/swift/common"
		targetNamespace="https://gbusiness.ph/schemas/swift/common"
		elementFormDefault="qualified" version="1.0">

	<xs:simpleType name="uuid">
		<xs:annotation>
			<xs:documentation><![CDATA[
				This represents to a java.util.UUID. This will help to uniquely identify transactions between atomic services. 				
			]]></xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="languageCode">
		<xs:annotation>
			<xs:documentation><![CDATA[
				3-character language code;
				Loosely based on ISO639-1, ISO639-2 and ISO639-3;
				Ref: http://en.wikipedia.org/wiki/ISO_639-1
				     http://en.wikipedia.org/wiki/ISO_639-2
				     http://en.wikipedia.org/wiki/ISO_639-3
			]]></xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="[a-z]{2,3}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="countryCode">
		<xs:annotation>
			<xs:documentation><![CDATA[
				3-character language code;
				Loosely based on ISO3166-1;
				Ref: http://en.wikipedia.org/wiki/ISO_3166-1
			]]></xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="[A-Z]{2,3}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="dateTime">
		<xs:restriction base="xs:token">
			<xs:pattern value="[0-9]{2}-[0-9]{2}-[0-9]{4} [0-9]{2}:[0-9]{2}:[0-9]{2}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="responseCode">
		<xs:restriction base="xs:token">
			<xs:minLength value="4" />
			<xs:maxLength value="12" />
			<xs:pattern value="[A-Za-z0-9]{4,32}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="generalCodeType">
		<xs:restriction base="xs:token">
			<xs:minLength value="3" />
			<xs:maxLength value="32" />
			<xs:pattern value="[A-Za-z0-9]{3}.*"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="mobileNumber">
		<xs:restriction base="xs:token">
			<xs:minLength value="10" />
			<xs:maxLength value="32" />
			<xs:pattern value="[0-9]{10,32}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="amount">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2" />
			<xs:totalDigits value="32" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="sha256">
		<xs:restriction base="xs:token">
			<xs:pattern value="[A-Fa-f0-9]{64}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="sha512">
		<xs:restriction base="xs:token">
			<xs:pattern value="[A-Fa-f0-9]{128}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="requestHeader">
		<xs:sequence>
			<xs:element name="locale_language_code" type="swift-common:languageCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation><![CDATA[
						Affects the response message and notification language.
						Default: ENG
					]]></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="locale_country_code" type="swift-common:countryCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation><![CDATA[
						Affects the response message and notification language.
						Default: USA
					]]></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="request_datetime" type="swift-common:dateTime">
				<xs:annotation>
					<xs:documentation><![CDATA[
						For audit purposes and server-side timezone tracking/adjustment
					]]></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="request_reference_id" type="swift-common:uuid" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="secureRequestHeader">
		<xs:complexContent>
			<xs:extension base="swift-common:requestHeader">
				<xs:sequence>
					<xs:element name="session_token" type="xs:string">
						<xs:annotation>
							<xs:documentation><![CDATA[
								Valid session token (from LBM auth services)
							]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:group name="commonResponse">
		<xs:sequence>
			<xs:element name="response_datetime" type="swift-common:dateTime">
				<xs:annotation>
					<xs:documentation><![CDATA[
						Server datetime adjusted to request timezone
					]]></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="response_reference_id" type="swift-common:uuid" />
			<xs:element name="response_code" type="swift-common:responseCode" />
			<xs:element name="response_message" type="xs:string" />
		</xs:sequence>
	</xs:group>

	<xs:complexType name="responseHeader">
		<xs:sequence>
			<xs:group ref="swift-common:commonResponse" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="serviceFaultDetail">
		<xs:annotation>
			<xs:documentation><![CDATA[
				Provided for the fault detail.
			]]></xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="swift-common:commonResponse" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>